/* CSS Document */


h1 {
	
	font-family: "Helvetica";
	color: purple;
}


nav {
	height: 30px;  
	text-transform: uppercase;

}

nav ul li { 
	float: left;
	list-style-type: none; 
	background: #555;
	width: 160px;
	text-align: center;
	background-color:white;
	
}

nav ul li a {
	text-decoration: none;
	color: #006080; 
}

nav ul li a:hover {
	color: #4682B4
	 
}